body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background:
linear-gradient(
   180deg,
   rgb(229, 207, 250) 0%,
   rgb(237, 245, 163)50%,
   #f5f5f5 100%
);
    /* background:rgb(229, 207, 250); */
  }
  
  .navbar {
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 5px 10px;
    background:rgb(229, 207, 250);
    color: white;
    border: 3px solid rgb(234, 232, 241);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(236, 233, 233, 0.05);
  }
  
   h2 {
    margin-top: 5px;
    margin-right: 200px;
    font-weight: 900;
    font-size: 30px;
    font-family: serif;
    color: rgb(6, 59, 2);
  }
  .logo{
    padding-top: 0;
    
  }
  .logo img {
    height: 70px;   
    width: 200px;   
    object-fit: contain;
  }
  
  .menu {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  
  .login {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
  }
  
.nav-item {
  position: relative;
  cursor: pointer;
  color: rgb(17, 17, 17);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  justify-content: center;
  background: #f5eeee;
  min-width: 130px;
  padding: 10px 0;

  z-index: 999; 

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s;
}
.dropdown-parent {
  position: relative;
  color:#6e056e;
  z-index: 1000; 
}
.dropdown-parent:hover {
  color: red;
}

.dropdown-parent:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown a {
  display: block;
  padding: 8px 15px;
  color: rgb(2, 14, 48);
  text-decoration: none;
}

.dropdown a:hover {
  background: #fad87c;
}
  
.layout {
    display: flex;
  }
  
.main {
    flex: 1;
  }
   

  
   .toggle-btns {
    all:unset;
    font-size: 22px;
    border: none;
    
    color:black  ;
    cursor: pointer;
    position: fixed; 
    top: 10px;
    left: 0;
    z-index: 1000;
    padding: 8px 12px;
    border-radius: 6px;
  }
  
  .sidebar-open .hero {
    margin-left: var(--sidebar-width);
  }
  
  .sidebar-open .container {
    left: calc(50% + var(--sidebar-width) / 2);
  }
  .container.shift {
    transform: translateX(200px);
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      max-width: 100%;
    }
    
    body {
      overflow-x: hidden;
    }
    
    * {
      box-sizing: border-box;
    }
    .container.shift {
      transform: translateX(7px);
    }
  }